name: Dependabot Auto-merge

on:
  pull_request_target:
    types: [opened, synchronize]

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Auto-merge Dependabot PRs
      run: gh pr merge --auto --merge "squash" --delete-branch
      env:
        PR_URL: ${{github.event.pull_request.html_url }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}